<div class="card card-default" style="border: none !important;">
  <div class="card-header card-header-ibm">
    <div class="row">
      <div class="col-8 pull-left">

        Customer/Account Information
      </div>
      <div *ngIf="isSearchPage" class="col-4 pull-right">
        <div class="row pull-right">
          <div *ngIf="isToggleSearchClicked">
            <form [formGroup]="searchForm">
              <div class="row">
                <div>
                  <input formControlName="searchFormId" type="text" class="form-control form-control-sm pull-left" placeholder="Enter Form Id to Search">
                </div>
                <div style="padding-right: 10px; padding-top: 3px;">
                  <i (click)="SearchFormById()" [(ngModel)]="searchFormText" class="fa fa-search  pull-right icon-20" style="padding-right: 5px; "
                    aria-hidden="true"></i>
                </div>
              </div>
            </form>
          </div>
          <div>
            <i *ngIf="!isToggleSearchClicked" (click)="toggleSearch()" class="fa fa-search  pull-right icon-20" style="padding-right: 5px; padding-top: 3px;"
              aria-hidden="true"></i>
            <i *ngIf="isToggleSearchClicked" (click)="closeSearch()" class="fa fa-times-circle-o pull-right icon-20" style="padding-right: 5px; padding-top: 3px;"
              aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form [formGroup]="detailsForm" class="padding-bottom-form">
    <div class="row  border-primary">
      <!-- details card 1 starts here -->
      <div class="col-xl-4 col-lg-4">
        <div class="card card-default border-primary ">
          <div class="card-header card-header-ibm">
          </div>
          <div class="card-body p-1 m-1">
            <div class="form-group ibm-form-group-field has-danger">
              <label class="field-label ibm-text-color" for="formId">Form ID #</label>
              <input [ngClass]="{'is-invalid': detailsFormSubmitted && df.formId.errors}" readonly formControlName="formId" id="formId"
                type="text" name="formId" class="form-control form-control-sm" placeholder="Enter Form ID" data-error="Form Id is required.">
            </div>
            <div class="form-group ibm-form-group-field">
              <label class="field-label ibm-text-color" for="formStatus">Form Status</label>
              <input [ngClass]="{'is-invalid': detailsFormSubmitted && df.formStatus.errors}" readonly formControlName="formStatus" id="formStatus"
                type="text" name="email" class=" form-control form-control-sm" placeholder="Enter Form Status" data-error="Valid email is required.">
            </div>
            <div class="form-group ibm-form-group-field">
              <label class="field-label ibm-text-color" for="requestorName">Requestor</label>
              <input [ngClass]="{'is-invalid': detailsFormSubmitted && df.requestorName.errors}" readonly formControlName="requestorName"
                id="requestorName" type="text" name="phone" class="form-control form-control-sm" placeholder="Enter Requestor">
            </div>
            <div class="form-group ibm-form-group-field">
              <label class="field-label ibm-text-color" for="requestorId">Requestor ID</label>
              <input [ngClass]="{'is-invalid': detailsFormSubmitted && df.requestorId.errors}" readonly formControlName="requestorId" id="requestorId"
                type="text" name="phone" class="form-control form-control-sm" placeholder="Requestor ID">
            </div>
            <div class="form-group ibm-form-group-field">
              <label class="field-label ibm-text-color" for="riskRating">Risk Rating</label>
              <select [attr.disabled]="isView ? '' : null" [ngClass]="{'is-invalid': detailsFormSubmitted && df.riskRating.errors}" formControlName="riskRating"
                id="riskRating" class="form-control form-control-sm" data-error="Risk Rating is required.">
                <option value="" selected disabled>Select Risk Rating</option>
                <option *ngFor="let riskRate of riskRatings" value="{{riskRate.id}}">{{riskRate.value}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <!-- details card 1 ends here -->
      <!-- details card 2 starts here -->
      <div class="col-xl-4 col-lg-4">
        <div class="card card-default border-primary">
          <div class="card-header card-header-ibm">
          </div>
          <div class="card-body p-1 m-1">
            <div class="form-group ibm-form-group-field ibm-form-group-date-picker">
              <label class="field-label ibm-text-color" for="datePrepared">Date Prepared</label>
              <my-date-picker [disabled]="isView" formControlName="datePrepared" [ngClass]="{'is-invalid': detailsFormSubmitted && df.datePrepared.errors}"
                name="datePrepared" [options]="myDatePickerOptions" [(ngModel)]="datePreparedModel"></my-date-picker>
            </div>
            <div class="form-group ibm-form-group-field ibm-form-group-date-picker">
              <label class="field-label ibm-text-color" for="validTo">Valid To</label>
              <my-date-picker [disabled]="isView" formControlName="validTo" [ngClass]="{'is-invalid': detailsFormSubmitted && df.validTo.errors}"
                name="validTo" [options]="myDatePickerOptions" [(ngModel)]="validToModel"></my-date-picker>
            </div>
            <div class="form-group ibm-form-group-field">
              <label class="field-label ibm-text-color" for="form_phone">Sales Connect #</label>
              <input [attr.disabled]="isView ? '' : null" [ngClass]="{'is-invalid': detailsFormSubmitted && df.salesConnectNo.errors}"
                formControlName="salesConnectNo" id="salesConnectNo" type="tel" name="phone" [ngClass]="{'red-border-class': df.salesConnectNo.errors}"
                class=" form-control form-control-sm text-line" placeholder="Enter Sales Connect #">
            </div>
            <div class="form-group ibm-form-group-field">
              <label class="field-label ibm-text-color" for="rfsNo">RFS #</label>
              <input [attr.disabled]="isView ? '' : null" formControlName="rfsNo" [ngClass]="{'is-invalid': detailsFormSubmitted && df.rfsNo.errors}"
                id="rfsNo" type="tel" name="phone" class="form-control form-control-sm" placeholder="Enter RFS #">
            </div>
            <div class="form-group ibm-form-group-field">
              <label class="field-label ibm-text-color" for="region">Region</label>
              <select [ngClass]="{'is-invalid': detailsFormSubmitted && df.region.errors}" [attr.disabled]="isView ? '' : null" formControlName="region"
                id="region" class="form-control form-control-sm" data-error="Region is required.">
                <option value="" selected disabled>Select Region</option>
                <option *ngFor="let region of regionList" value="{{region.regionCode}}">{{region.regionName}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <!-- details card 2 ends here -->
      <!-- details card 3 starts here -->
      <div class="col-xl-4 col-lg-4">
        <div class="card card-default border-primary">
          <div class="card-header card-header-ibm">
          </div>
          <div class="card-body p-1 m-1">
            <div class="form-group ibm-form-group-field">
              <label class="field-label ibm-text-color" for="form_name">Customer/Account Name</label>
              <input [attr.disabled]="isView ? '' : null" formControlName="customerName" [ngClass]="{'is-invalid': detailsFormSubmitted && df.customerName.errors}"
                id="customerName" type="text" name="customerName" class="form-control form-control-sm" placeholder="Enter Customer/Account Name"
                required="required">
            </div>
            <div class="form-group ibm-form-group-field">
              <label class="field-label ibm-text-color" for="customerId">Customer ID</label>
              <input [attr.disabled]="isView ? '' : null" formControlName="customerId" [ngClass]="{'is-invalid': detailsFormSubmitted && df.customerId.errors}"
                id="customerId" type="text" name="customerId" class="form-control form-control-sm" placeholder="Enter Customer Id"
                required="required">
            </div>
            <div class="form-group ibm-form-group-field">
              <label class="field-label ibm-text-color" for="salesId">Sales ID</label>
              <input [attr.disabled]="isView ? '' : null" formControlName="salesId" [ngClass]="{'is-invalid': detailsFormSubmitted && df.salesId.errors}"
                id="salesId" type="text" name="salesId" class="form-control form-control-sm" placeholder="Enter Sales Id">
            </div>
            <div class="form-group ibm-form-group-field">
              <label class="field-label ibm-text-color" for="approver">Approver</label>
              <select [attr.disabled]="isView ? '' : null" formControlName="approver" [ngClass]="{'is-invalid': detailsFormSubmitted && df.approver.errors}"
                id="approver" class="form-control form-control-sm">
                <option value="" selected disabled>Select Approver</option>
                <option *ngFor="let user of approverList" value="{{user.username}}">{{user.fullName}}</option>
              </select>
            </div>
            <div class="form-group ibm-form-group-field">
              <label class="field-label ibm-text-color" for="custom">Custom</label>
              <select [attr.disabled]="isView ? '' : null" formControlName="custom" [ngClass]="{'is-invalid': detailsFormSubmitted && df.custom.errors}"
                id="custom" class="form-control form-control-sm">
                <option value="" selected disabled>Select Custom</option>
                <option value="YES">YES</option>
                <option value="NO">NO</option>
              </select>

            </div>
          </div>
        </div>
      </div>
      <!-- details card 2 ends here -->
    </div>

    <br>

    <!-- card 2 starts here -->
    <div class="card card-default border-primary ">
      <div class="card-body p-1 m-1">

        <div class="col-xl-12 col-lg-12" style="padding-left: 1px !important;padding-right: 1px !important;">
          <div class="row  border-primary">
            <div class="form-group ibm-form-group-field col-xl-3 col-lg-3">
              <label class="field-label ibm-text-color" for="coe">COE</label>
              <select [attr.disabled]="isView ? '' : null" formControlName="coe" [ngClass]="{'is-invalid': detailsFormSubmitted && df.coe.errors}"
                id="coe" class="form-control form-control-sm">
                <option value="" [attr.selected]="true">--Select--</option>
                <option value="END_POINT">End Point</option>
                <option value="DAS">DAS</option>
                <option value="INFRA">INFRA</option>
                <option value="IAM">IAM</option>
                <option value="SIOC">SIOC</option>
              </select>
            </div>

            <div class="form-group ibm-form-group-field col-xl-3 col-lg-3">
              <label class="field-label ibm-text-color" for="coe">Endpoint Security Services</label>
              <select [attr.disabled]="isView ? '' : null" formControlName="coe" [ngClass]="{'is-invalid': detailsFormSubmitted && df.coe.errors}"
                id="coe" class="form-control form-control-sm">
                <option value="" [attr.selected]="true">--Select-</option>
                <option value="MALWARE">Malware</option>
                <option value="WEB-SEC">Web Security</option>
                <option value="EMAIL-SEC">Email Security</option>
                <option value="VOL_MGMT">Volnerability Management</option>
                <option value="DLP">DLP</option>

              </select>
            </div>

            <div class="form-group ibm-form-group-field col-xl-3 col-lg-3">
              <label class="field-label ibm-text-color" for="serviceWindow">Service Window for Operations</label>
              <select [attr.disabled]="isView ? '' : null" formControlName="serviceWindow" [ngClass]="{'is-invalid': detailsFormSubmitted && ef.serviceWindow.errors}"
                id="serviceWindow" class="form-control form-control-sm">
                <option value="-" [attr.selected]="true">--Select--</option>
                <option *ngFor="let serviceOperation of serviceOperations" value="{{serviceOperation.id}}">{{serviceOperation.value}}</option>
              </select>
              <div *ngIf="detailsFormSubmitted && ef.serviceWindow.errors" class="invalid-feedback">
                <div *ngIf="ef.serviceWindow.errors.required">Service window for operations is required</div>
              </div>
            </div>

            <div class="form-group ibm-form-group-field col-xl-3 col-lg-3">
              <label class="field-label ibm-text-color" for="serviceScope">Service Scope</label>
              <select [attr.disabled]="isView ? '' : null" formControlName="serviceScope" [ngClass]="{'is-invalid': detailsFormSubmitted && ef.serviceScope.errors}"
                id="serviceScope" class="form-control form-control-sm" (change)="serviceScopeChange($event)">
                <option value="-" [attr.selected]="true">--Select--</option>
                <option *ngFor="let serviceScope of serviceScopes" value="{{serviceScope.id}}">{{serviceScope.value}}</option>
              </select>
              <div *ngIf="detailsFormSubmitted && ef.serviceScope.errors" class="invalid-feedback">
                <div *ngIf="ef.serviceScope.errors.required">Service Scope is required</div>
              </div>
            </div>

          </div>
          <div class="row ">
            <div class="form-group ibm-form-group-field col-xl-3 col-lg-3">
              <label class="field-label ibm-text-color">Vendor</label>
              <select [attr.disabled]="isView ? '' : null" formControlName="vendor" [ngClass]="{'is-invalid': detailsFormSubmitted && sf.vendor.errors}"
                id="vendor" class="form-control form-control-sm ">
                <option value="" [attr.selected]="true">--Select--</option>
                <option *ngFor="let vendor of vendorList" value="{{vendor.id}}">{{vendor.name}}</option>
              </select>
              <div *ngIf="detailsFormSubmitted && sf.vendor.errors" class="invalid-feedback">
                <div *ngIf="sf.vendor.errors.required">Vendor is required</div>
              </div>
            </div>
            <div class="form-group ibm-form-group-field col-xl-3 col-lg-3">
              <label class="field-label ibm-text-color">Anti-Malware (Agent)</label>
              <input [attr.disabled]="isView ? '' : null" formControlName="antiMalwareAgent" [ngClass]="{'is-invalid': detailsFormSubmitted && sf.antiMalwareAgent.errors}"
                id="antiMalwareAgent" class="form-control form-control-sm " type="text">
              <div *ngIf="detailsFormSubmitted && sf.antiMalwareAgent.errors" class="invalid-feedback">
                <div *ngIf="sf.antiMalwareAgent.errors.required">Anti Malware Agent is required</div>
              </div>
            </div>
            <div class="form-group ibm-form-group-field col-xl-3 col-lg-3">
              <label class="field-label ibm-text-color">No of Consoles</label>
              <input [attr.disabled]="isView ? '' : null" formControlName="noOfConsoles" [ngClass]="{'is-invalid': detailsFormSubmitted && sf.noOfConsoles.errors}"
                id="noOfConsoles" class="form-control form-control-sm " type="text">
              <div *ngIf="detailsFormSubmitted && sf.noOfConsoles.errors" class="invalid-feedback">
                <div *ngIf="sf.noOfConsoles.errors.required">No Of Consoles is required</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- card 2 ends here -->
    <br>
    <!-- run estimator card starts here -->
    <div class="card card-default border-primary ">
      <div class="card-body p-1 m-1">

        <div class="col-xl-12 col-lg-12" style="padding-left: 1px !important;padding-right: 1px !important;">
          <div class="row">
            <div class="col-xl-5 col-lg-5"></div>
            <div class="col-xl-2 col-lg-2">
              <button class="btn btn-block btn-sm btn-change">Run Estimator</button>
            </div>
            <div class="col-xl-5 col-lg-5"></div>
          </div>
          <div class="row" style="padding-left: 50px !important;">
            <table class="table p-5 borderless text-primary">
              <thead style="border: none !important;">
                <tr>
                  <th scope="col" class="field-label ibm-text-color" style="width:  20% !important;"></th>
                  <th scope="col" class="field-label ibm-text-color" style="width:  20% !important;">Transition and Transformation (TNT BAND)</th>
                  <th scope="col" class="field-label ibm-text-color" style="width:  20% !important;">Steady State Band</th>
                  <th scope="col" class="field-label ibm-text-color" style="width:  20% !important;">Hour</th>
                  <th scope="col" class="field-label ibm-text-color" style="width:  20% !important;">Cost</th>
                </tr>
              </thead>
              <tbody style="border: none !important;">
                <tr>
                  <th class="field-label ibm-text-color">B5</th>
                  <td>
                    <input [attr.disabled]="isView ? '' : null" formControlName="customerId" [ngClass]="{'is-invalid': detailsFormSubmitted && df.customerId.errors}"
                      id="customerId" type="text" name="customerId" class="form-control form-control-sm form-control-table">
                  </td>
                  <td>
                    <input [attr.disabled]="isView ? '' : null" formControlName="customerId" [ngClass]="{'is-invalid': detailsFormSubmitted && df.customerId.errors}"
                      id="customerId" type="text" name="customerId" class="form-control form-control-sm form-control-table">
                  </td>
                  <td>
                    <input [attr.disabled]="isView ? '' : null" formControlName="customerId" [ngClass]="{'is-invalid': detailsFormSubmitted && df.customerId.errors}"
                      id="customerId" type="text" name="customerId" class="form-control form-control-sm form-control-table">
                  </td>
                  <td>
                    <input [attr.disabled]="isView ? '' : null" formControlName="customerId" [ngClass]="{'is-invalid': detailsFormSubmitted && df.customerId.errors}"
                      id="customerId" type="text" name="customerId" class="form-control form-control-sm form-control-table">
                  </td>
                </tr>
                <tr>
                  <th class="field-label ibm-text-color">B7</th>
                  <td>
                    <input [attr.disabled]="isView ? '' : null" formControlName="customerId" [ngClass]="{'is-invalid': detailsFormSubmitted && df.customerId.errors}"
                      id="customerId" type="text" name="customerId" class="form-control form-control-sm form-control-table">
                  </td>
                  <td>
                    <input [attr.disabled]="isView ? '' : null" formControlName="customerId" [ngClass]="{'is-invalid': detailsFormSubmitted && df.customerId.errors}"
                      id="customerId" type="text" name="customerId" class="form-control form-control-sm form-control-table">
                  </td>
                  <td>
                    <input [attr.disabled]="isView ? '' : null" formControlName="customerId" [ngClass]="{'is-invalid': detailsFormSubmitted && df.customerId.errors}"
                      id="customerId" type="text" name="customerId" class="form-control form-control-sm form-control-table">
                  </td>
                  <td>
                    <input [attr.disabled]="isView ? '' : null" formControlName="customerId" [ngClass]="{'is-invalid': detailsFormSubmitted && df.customerId.errors}"
                      id="customerId" type="text" name="customerId" class="form-control form-control-sm form-control-table">
                  </td>
                </tr>
                <tr>
                  <th class="field-label ibm-text-color">B7 On Call</th>
                  <td>
                    <input [attr.disabled]="isView ? '' : null" formControlName="customerId" [ngClass]="{'is-invalid': detailsFormSubmitted && df.customerId.errors}"
                      id="customerId" type="text" name="customerId" class="form-control form-control-sm form-control-table">
                  </td>
                  <td>
                    <input [attr.disabled]="isView ? '' : null" formControlName="customerId" [ngClass]="{'is-invalid': detailsFormSubmitted && df.customerId.errors}"
                      id="customerId" type="text" name="customerId" class="form-control form-control-sm form-control-table">
                  </td>
                  <td>
                    <input [attr.disabled]="isView ? '' : null" formControlName="customerId" [ngClass]="{'is-invalid': detailsFormSubmitted && df.customerId.errors}"
                      id="customerId" type="text" name="customerId" class="form-control form-control-sm form-control-table">
                  </td>
                  <td>
                    <input [attr.disabled]="isView ? '' : null" formControlName="customerId" [ngClass]="{'is-invalid': detailsFormSubmitted && df.customerId.errors}"
                      id="customerId" type="text" name="customerId" class="form-control form-control-sm form-control-table">
                  </td>
                </tr>
                <tr>
                  <th class="field-label ibm-text-color">Total</th>
                  <th>
                    <input [attr.disabled]="isView ? '' : null" formControlName="customerId" [ngClass]="{'is-invalid': detailsFormSubmitted && df.customerId.errors}"
                      id="customerId" type="text" name="customerId" class="form-control form-control-sm form-control-table">
                  </th>
                  <th>
                    <input [attr.disabled]="isView ? '' : null" formControlName="customerId" [ngClass]="{'is-invalid': detailsFormSubmitted && df.customerId.errors}"
                      id="customerId" type="text" name="customerId" class="form-control form-control-sm form-control-table">
                  </th>
                  <th>
                    <input [attr.disabled]="isView ? '' : null" formControlName="customerId" [ngClass]="{'is-invalid': detailsFormSubmitted && df.customerId.errors}"
                      id="customerId" type="text" name="customerId" class="form-control form-control-sm form-control-table">
                  </th>
                  <th>
                    <input [attr.disabled]="isView ? '' : null" formControlName="customerId" [ngClass]="{'is-invalid': detailsFormSubmitted && df.customerId.errors}"
                      id="customerId" type="text" name="customerId" class="form-control form-control-sm form-control-table">
                  </th>
                </tr>
              </tbody>
            </table>
          </div>




        </div>
      </div>
    </div>
    <!-- run estimator card ends here -->
  </form>
  <br>
</div>

<div class="row col-lg-12 col-xl-12" style="padding-left: 0px !important;padding-right: 0px !important;">
  <div class="col-lg-3 text-center">
    <button [routerLink]="['/home']" class="btn btn-fill btn-sm btn-block btn-change">Click here to go home page</button>
  </div>
  <div class="col-lg-3 text-center">
    <button class="btn btn-fill btn-sm btn-block btn-change" (click)="open(termsAndConditonModel)">Terms & Conditions</button>
  </div>
  <div class="col-lg-3 text-center">
    <button type="button" class="btn btn-fill btn-sm btn-block btn-change" (click)="open(previewModal)">
      Click here to preview
    </button>
  </div>
  <div class="col-lg-3 text-center">
    <button [disabled]="isView" class="btn btn-fill btn-sm btn-block btn-change" (click)="saveForm()">Submit Form</button>
  </div>
</div>

<br>




<ng-template #termsAndConditonModel let-modal>
  <div class="modal-header card-header-ibm">
    <h4 class="modal-title" id="modal-basic-title">Terms & Conditions</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="font-size: 12px;">
    <div *ngIf="!editTermsAndConditionsClicked" [innerHtml]="termsAndConditions.termsAndCondition">
    </div>
    <div *ngIf="editTermsAndConditionsClicked" class="form-group">
      <form [formGroup]="termsAndConditionForm">
        <quill-editor formControlName="termsAndCondition" [(ngModel)]="editorContent" [options]="editorOptions" (blur)="onEditorBlured($event)"
          (focus)="onEditorFocused($event)" (ready)="onEditorCreated($event)" (change)="onContentChanged($event)"></quill-editor>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row col-md-12 col-lg-12 col-xl-12">
      <div class="col-md-6 col-lg-6 col-xl-6 text-left">
        <button type="button" class="btn btn-outline-primary btn-sm btn-primary-ibm" (click)="modal.close('Save click')">Close</button>
        &nbsp;
        <button *ngIf="!editTermsAndConditionsClicked && !isView" type="button" class="btn btn-outline-primary btn-sm btn-primary-ibm"
          (click)="editTermsAndConditions()">Edit</button>

      </div>
      <div class="col-md-6 col-lg-6 col-xl-6 text-right">
        <button *ngIf="editTermsAndConditionsClicked && !isView" type="button " class="btn btn-outline-primary btn-sm  btn-primary-ibm"
          (click)="saveTermsAndConditions()">Save</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #previewModal let-modal>
  <div class="modal-header card-header-ibm">
    <h4 class="modal-title" id="modal-basic-title">Terms & Conditions</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="font-size: 12px;">
    <div class="card card-default card-border-none">
      <div class="row text-center">
        <div class="col-xl-12 col-lg-12">
          <img src="/assets/images/Security.png">
        </div>
      </div>
      <br>
      <br>
      <div class="row text-center">
        <div class="col-xl-12 col-lg-12" style="font-size: 15px;">
          <b>Infrastructure and Endpoint Security Sizing Worksheet</b>
        </div>
      </div>
    </div>
    <br>

    <div class="card card-default">
      <div class="row">
        <div class="col-xl-12 col-lg-12">
          <table class="table-bordered border-primary" style="width: 100% !important;">
            <thead style="width: 100% !important;">
              <td class="table-header-td" colspan="4">
                <b>Customer Details</b>
              </td>
            </thead>
            <tbody>
              <tr>
                <td class="table-key-td">
                  Customer/Account Name:
                </td>
                <td class="table-data-td" colspan="3">
                  {{detailsForm.controls['customerName'].value}}
                </td>
              </tr>
              <tr>
                <td class="table-key-td">
                  Date Prepared:
                </td>
                <td class="table-data-td" colspan="3">
                  {{detailsForm.controls['datePrepared'].value['formatted']}}
                </td>
              </tr>
              <tr>
                <td class="table-key-td">
                  Estimate Valid Untill:
                </td>
                <td class="table-data-td" colspan="3">
                  {{detailsForm.controls['validTo'].value['formatted']}}
                </td>
              </tr>
              <tr>
                <td class="table-key-td">
                  Sales Connect #:
                </td>
                <td class="table-data-td" colspan="3">
                  {{detailsForm.controls['salesConnectNo'].value}}
                </td>
              </tr>
              <tr>
                <td class="table-key-td">
                  RFS #:
                </td>
                <td class="table-data-td" colspan="3">
                  {{detailsForm.controls['rfsNo'].value}}
                </td>
              </tr>
              <tr>
                <td class="table-key-inner-td">
                  Prepared By:
                </td>
                <td class="table-data-td" style="width: 45%;">
                  {{detailsForm.controls['requestorName'].value}}
                </td>
                <td class="table-key-inner-td">
                  Region:
                </td>
                <td class="table-data-td">
                  {{detailsForm.controls['region'].value}}
                </td>
              </tr>
              <tr>
                <td class="table-key-td">
                  Risk Rating:
                </td>
                <td class="table-data-td" style="width: 45%;">
                  {{detailsForm.controls['riskRating'].value}}
                </td>
                <td class="table-key-inner-td">
                  Custom:
                </td>
                <td class="table-data-td">
                  {{detailsForm.controls['custom'].value}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="card card-default">
      <div class="row">
        <div class="col-xl-12 col-lg-12">
          <table class="table-bordered border-primary" style="width: 100% !important;">
            <thead style="width: 100% !important;">
              <tr>
                <td class="table-header-td" colspan="3">
                  <b>FTE Report</b>
                </td>
              </tr>
              <tr>
                <td class="table-sub-header-td"></td>
                <td class="table-sub-header-td">Resource FTE</td>
                <td class="table-sub-header-td"></td>
              </tr>
              <tr>
                <td class="table-sub-header-td">Band</td>
                <td class="table-sub-header-td">Steady State</td>
                <td class="table-sub-header-td">Transition FTE</td>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td class="table-sub-data-td">B5</td>
                <td class="table-sub-data1-td">{{estimatorForm.controls['b5'].value}}</td>
                <td class="table-sub-data1-td">{{estimatorForm.controls['b5'].value}}</td>
              </tr>
              <tr>
                <td class="table-sub-data-td">B6</td>
                <td class="table-sub-data1-td">{{estimatorForm.controls['b7'].value}}</td>
                <td class="table-sub-data1-td">{{estimatorForm.controls['b7'].value}}</td>
              </tr>
              <tr>
                <td class="table-sub-data-td">B7</td>
                <td class="table-sub-data1-td">{{estimatorForm.controls['b7_1'].value}}</td>
                <td class="table-sub-data1-td">{{estimatorForm.controls['b7_1'].value}}</td>
              </tr>
              <tr>
                <td class="table-sub-data-td">Base FTE</td>
                <td class="table-sub-data1-td">{{estimatorForm.controls['baseFte'].value}}</td>
                <td class="table-sub-data1-td">{{estimatorForm.controls['baseFte'].value}}</td>
              </tr>
              <tr>
                <td class="table-sub-data-td">Total FTE</td>
                <td class="table-sub-data1-td">{{estimatorForm.controls['totalFte'].value}}</td>
                <td class="table-sub-data1-td">{{estimatorForm.controls['totalFte'].value}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    <br>
    <!-- <div class="card card-default" style="border-color: blue !important; padding: 10px !important;"> -->
    <div class="row col-md-12 col-lg-12 col-xl-12">
      <table class="table-bordered" style="width: 100% !important;">
        <thead>
          <td class="table-term-header-td">
            <h5>Terms & Conditions</h5>
          </td>
        </thead>
        <tbody>
          <tr>
            <td class="table-term-content-td">
              <div [innerHtml]="termsAndConditions.termsAndCondition">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- </div> -->

  </div>
  <div class="modal-footer">
    <div class="row col-md-12 col-lg-12 col-xl-12">
      <div class="col-md-6 col-lg-6 col-xl-6 text-left">
        <a href="{{downloadURL}}?formId={{submittedFormIdToDownload}}">
          <button [disabled]="!submittedFormIdToDownload" type="button" class="btn btn-outline-primary btn-sm btn-primary-ibm">download</button>
        </a>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-6 text-right">
        <button type="button" class="btn btn-outline-primary btn-sm btn-primary-ibm" (click)="modal.close('Save click')">Close</button>
      </div>
    </div>
  </div>
</ng-template>



<hr>
