<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
  <div class="list-group text-right">
    <br *ngIf="userType !== approverType">
    <a *ngIf="userType !== approverType" [routerLink]="['/form-list', 'false']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-list-ul" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
      <span>{{ 'FORMS' | translate }}</span>
    </a>
    <br *ngIf="userType === approverType || userType === tsaType ">
    <a *ngIf="userType === approverType || userType === tsaType " [routerLink]="['/form-list', 'true']" [routerLinkActive]="['router-link-active']"
      class="list-group-item">
      <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
      <span>{{ 'PENDING LIST' | translate }}</span>
    </a>
    <br *ngIf="userType !== approverType">
    <a *ngIf="userType !== approverType" [routerLink]="['/estimator']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-plus-circle" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;
      <span>{{ 'NEW' | translate }}</span>

    </a>
    <!-- <br>
    <a [routerLink]="['/db']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-database" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;
      <span>{{ 'DB' | translate }}</span>

    </a>
    <br>
    <a [routerLink]="['/trends']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
      <span>{{ 'TRENDS' | translate }}</span>
    </a> -->
    <br>
    <a [routerLink]="['/search-form', 'true']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
      <span>{{ 'SEARCH FORM' | translate }}</span>
    </a>
    <br>

    <!-- <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-fw fa-edit"></i>&nbsp;
        <span>{{ 'Forms' | translate }}</span>
      </a> -->

  </div>
  <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
    <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
    <span>{{ 'Collapse Sidebar' | translate }}</span>
  </div>
</nav>